@charset "UTF-8";

@font-face {
	font-family: notacumulus;
	src: url(../fonts/notacumulus.ttf);
}
@font-face {
	font-family: Simplecat-d9xpV;
	src: url(../fonts/Simplecat-d9xpV.otf);
}
@font-face {
	font-family: MOONYCAT;
	src: url(../fonts/MOONYCAT.TTF);
}
/* ======== Everything ========  */

body {
	background-color: #000000;
}
a {text-decoration:none;}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 750px;
}
.parallax {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 725px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
/* ======== Nav Header ======== */

header {
	height: 10%;
	border-bottom: 1px solid #2C9AB7;
}
.logo {
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;

	font-weight: bold;
	font-size: 18px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	transition: all 0.3s linear;
    font-family: notacumulus;
}
ul li a {
	color: #FFFFFF;
}
ul li:hover a {
	color: #2C9AB7;
}

/* ======== text-body ======== */

.text-body {
	font-family: Simplecat-d9xpV;
	text-align: justify;
	color: #FFFFFF;
 	font-weight: bold;
    text-transform: lowercase;
    font-size: 16px;	
    letter-spacing: 2px;
	background-color: #B3B3B3;
	padding-top: 55px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	margin-top: -10px;
	padding-left: 40px;
	padding-right: 40px;
}
/* ======== Buttons All ======== */

.buttons {
    display: inline-block;
    color: #ffffff;
    font-family: MOONYCAT;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.1;
    text-align: center;
    margin: 5px; 5px;
    border-radius: 12px;
    background: #DE3163; 
    padding: 2px; 2px
}
.buttons:hover {
    background: #2196F3;
    color: white;
}
.button-bottom {
	letter-spacing: 2px;
	vertical-align: middle;ercase;
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-radius: 5px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
	text-align: center;
	text-transform: uppercase;  
	font-weight: bold;
	font-family: notacumulus;
}
.button-bottom:hover {
    background-color: rgb(207, 207, 207);
	color: #FFFFFF;
	cursor: pointer;
}
.footer-banner {
#	background-color: #B3B3B3;
#	background-image: url(../images/pattern.png);
#	background-repeat: repeat;
	padding-top: 60px;
	padding-bottom: 60PX;
	font-family: notacumulus;
}
/* ======== Banner Lower ======== */

.footer-text {
	color: #FFFFFF;
	text-align: center;
	margin-top: -20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.copyright {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 2px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	border-top-width: 2px;
	color: #FFFFFF;
	text-transform: uppercase;
}