@charset "UTF-8";

@font-face {
	font-family: notacumulus;
	src: url(../fonts/notacumulus.ttf);
}
@font-face {
	font-family: Simplecat-d9xpV;
	src: url(../fonts/Simplecat-d9xpV.otf);
}
@font-face {
	font-family: MOONYCAT;
	src: url(../fonts/MOONYCAT.TTF);
}
/* ======== Everything ========  */

body {
	background-color: #000000;
}
a {text-decoration:none;}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
}
.parallax {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
#	height: 825px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.topbannerwrap {
	position: fixed;
	border: 2px solid rgb(221, 29, 189);
#	margin: 10px;
	background-color: #2C9AB7;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 125px;
}

/* ======== Nav Header ======== */

header {
	height: 10%;
	border-bottom: 1px solid #2C9AB7;
	width: 25%;
#	height: 10px;
}
.logo-small {
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
.search input[type=text] {
	float: left;
	padding-right: 55px;
	padding-left: 10px;
	margin-top: 14px;
	margin-right: 16px;
	border-radius: 4px;
	font-size: 17px;
}

.topbtn {
	color: #d40606;
	font-family: notacumulus;
	text-align: right;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	transition: all 0.3s linear;
	list-style: none;
	float: right;
	margin-top: 20px;
	margin-right: 55px;
}
.topbtn:hover {
    color: white;
}

/* ======== Marquee ========  */

.marquee>a>img {
	height: 65px;
}
.marquee-wrapper {
	display:  inline-block;
	white-space: nowrap;
}
.marquee {
	  display:  inline-block;
	  white-space: nowrap;
	  position: relative;
	  transform: translate3d(0%, 0, 0);
	  animation-name: marquee;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
}
.marquee-wrapper:hover .marquee {
	  animation-play-state: paused !important;
}
	@keyframes marquee {
	  0% {
		  transform: translate3d(0%, 0, 0);
	  }
  
	  100% {
		  transform: translate3d(-100%, 0, 0);
	  }
}
/* ======== Text Main ======== */

.textwrapper {
	font-family: Simplecat-d9xpV;
	text-align: justify;
	color: rgb(59, 55, 55);
 	font-weight: bold;
    text-transform: lowercase;
    font-size: 16px;
    letter-spacing: 2px;
	padding-top: 400px;	
	background-color: #B3B3B3;
	padding-top: 125px;
	padding-bottom: 15px;
	padding-left: 80px;
	padding-right: 80px;
}
/* ======== Link Buttons ======== */

.linkbtnblock {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
}
.linkbtn {
	color: #ffffff;
    font-family: MOONYCAT;
    font-size: 22px;
#   font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    border-radius: 12px;
    background: #DE3163; 
	padding: 6px; 6px
	display: inline-block;	
	margin: 10px; 10px;
}
.linkbtn:hover {
    background: rgb(224, 186, 16);
    color: white;
}
/* ===== Lower Banner / Footer / Copyright =======*/

.lower-banner {
	background-color: #B3B3B3;
#	background-color: black;
	padding-top: 35px;
	padding-bottom: 35PX;
	font-family: notacumulus;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 4px;
}
.subbtn {
	letter-spacing: 2px;
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-radius: 5px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	text-transform: uppercase;  
	font-weight: bold;
	font-family: notacumulus;
}
.subbtn:hover {
    background-color: rgba(214, 40, 92, 0.822);
	color: #FFFFFF;
	cursor: pointer;
}
.backbtn {
	letter-spacing: 2px;
	width: 40px;
	margin-top: -66px;
	margin-left: 40px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-radius: 5px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	text-transform: uppercase;  
	font-weight: bold;
	font-family: notacumulus;
}
.backbtn:hover {
    background-color: rgba(214, 40, 92, 0.822);	
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	font-weight: lighter;
	letter-spacing: 2px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	border-top-width: 2px;
	color: #FFFFFF;
	text-transform: uppercase;
}