@charset "UTF-8";

/* ========= Parallax (Forced for iphone) ========= */
@supports (-webkit-overflow-scrolling: touch) {
.parallax {
	background-size: 0 0;
    }
.parallax:before {
	content: "";
	top: 0; 
	left: 0; 
	bottom: 0;
	right: 0;
	background-image: inherit;
	background-size: cover;
	background-position: inherit;
	background-repeat: inherit;
	position: fixed;
	z-index: -1;
}
}
/* =========  ========= */

@media (max-width: 520px) {
.container {
	position: absolute;
	width: 100%;
	right: 0px;
	left: 0px
}
.search input[type=text] {
	width: 45%;
	position: relative;
	left: 60px;
}
.topbannerwrap {
	height: 95px;
	
}
.topbtn {
	font-size: 12px;
	padding-left: 35px;
}
.tagline {
	display: none;
}
.location {
	display: none;
}	
.marquee {
	position: relative;
	top: 105px;
}
.marquee>a>img {
	height: 55px;
}
.textwrapper {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.linkbtnwrap {
	margin-bottom: 15px;
}
.linkbtn {
	padding: 20px;
	margin-bottom: 20px;
}
.lowbannerheadtit {
	margin-bottom: 15px;
}
.backbtn {
	zoom: 0.6
}
.forwbtn {
	zoom: 0.6
}
}
/* =========  ========= */

@media (min-width: 521px) and (max-width: 720px) {
.container {
	position: absolute;
	width: 100%;
	right: 0px;
	left: 0px
}
.search input[type=text] {
	width: 55%;
	position: relative;
	left: 30px;
}
.topbannerwrap {
	height: 95px;
}
.topbtn {
	font-size: 14px;
	padding-left: 35px;
}
.tagline {
	display: none;
}
.location {
	display: none;
}	
.marquee {
	position: relative;
	top: 105px;
}
.marquee>a>img {
	height: 55px;
}
.textwrapper {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.linkbtnwrap {
	margin-bottom: 15px;
}
.linkbtn {
	padding: 20px;
	margin-bottom: 20px;
}
.lowbannerheadtit {
	margin-bottom: 15px;
}
.backbtn {
	zoom: 0.7
}
.forwbtn {
	zoom: 0.7
}
}	
@media (min-width: 721px) and (max-width: 920px) {
.container {
	position: absolute;
	width: 100%;
	right: 0px;
	left: 0px
}
.search input[type=text] {
	width: 25%;
	position: relative;
	left: 10px;
}
.topbannerwrap {
	height: 95px;
}
.topbtn {
	font-size: 16px;
	padding-left: 35px;
}
.tagline {
	font-size: 16px;
}
.location {
	font-size: 24px;
	position: absolute;
	top: 30px;
	left: 555px;
}	
.marquee {
	position: relative;
	top: 105px;
}
.marquee>a>img {
	height: 55px;
}
.textwrapper {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.linkbtnwrap {
	margin-bottom: 15px;
}
.linkbtn {
	padding: 20px;
	margin-bottom: 20px;
}
.lowbannerheadtit {
	margin-bottom: 15px;
}
.backbtn {
	zoom: 0.8
}
.forwbtn {
	zoom: 0.8
}
}
	
@media (min-width: 921px) and (max-width: 1080px) {
.topbannerwrap {
	height: 95px;
}
.topbtn {
	font-size: 18px;
	padding-left: 35px;
}
.tagline {
	font-size: 18px;
}
.location {
	font-size: 24px;
	position: absolute;
	top: 30px;
	left: 755px;
}	
.marquee {
	position: relative;
	top: 105px;
}
.marquee>a>img {
	height: 55px;
}
.textwrapper {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.linkbtnwrap {
	margin-bottom: 5px;
	margin-top: 20px;
}
.linkbtn {
	margin-bottom: 20px;
}
.backbtn {
	zoom: 0.9
}
.forwbtn {
	zoom: 0.9
}
}

/* ========== NONE LANDING PAGES ========== */

/* ========== Mobile ========== */

@media (max-width: 320px) {
#.logo {
	width: 100%;
	text-align: left;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
}
.intro .column p {
	width: 80%;
	margin-left: 0px;
}
.text_column {
	padding-left: 20px;
}
.thumbnail {
	width: 100%;
}
.thumbnail-art {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
#.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
    =
}
}

/* ========== Small Tablets ========== */

@media (min-width: 321px)and (max-width: 767px) {
#.logo {
#	width: 100%;
#	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 100%;
}
.thumbnail-art {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 100%;
}
.thumbnail-art {
	width: 100%;
}
.text_column {
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
.column {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
#.profile {
	width: 100%;
}
.intro .column p {
	width: 90%;
	text-align: center;
	padding-left: 0px;
}
}

/* ========== Small Desktops ========== */

@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 48%;
}
.thumbnail-art {
	width: 48%;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}