		@charset "UTF-8";

/* ========== Mobile (eg iphone SE )========== */

@media (max-width: 320px) {
.container {
	position: absolute;
	right: 0px;
	width: 100%;
}
.search input[type=text] {
	width: 30%;
	position: absolute;
	right: 15px;
}
.topbannerwrap {
	height: 95px;
}
.topbtnwrap {
	position: fixed;
	top: 60px;
	left: 10px;
	letter-spacing: 7px;
}
.topbtn {
	font-size: 20px;
	padding-left: 5px;
}
.tagline {
	display: none;
}
.marquee {
	display: relative;
	bottom: 27px;
}
.marquee>a>img {
	height: 60px;
}
.textwrapper {
	align: center;
  	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
.linkbtn {
	display: inline-block;
	padding: 20px;
	margin-bottom: 20px;
}
.lowbannerheadtit {
	margin-bottom: 15px;

}
.subbtn {
#	margin-right: 200px;
	margin-left: 10px;
}
.backbtn {
	font-size: 75px;	
	padding-left: 3px;
	padding-right: 15px;
	margin-left: 5px;
	position: relative;
	top: 16px;
}
}
/* ========== Small Tablets ========== */

@media (min-width: 321px)and (max-width: 767px) {
}


/* ========== Small Desktops ========== */

@media (min-width: 768px) and (max-width: 1096px) {
}