@charset "UTF-8";

/* ========= Parallax (Forced for iphone) ========= */
@supports (-webkit-overflow-scrolling: touch) {
.parallax {
	background-size: 0 0;
    }
.parallax:before {
	content: "";
	top: 0; 
	left: 0; 
	bottom: 0;
	right: 0;
	background-image: inherit;
	background-size: cover;
	background-position: inherit;
	background-repeat: inherit;
	position: fixed;
	z-index: -1;
}
}
/* ========= scroll disable (iphone) ========= */
@media screen and (max-width:320px) {
	.row.sqs-row {
		margin-left: 0;
		margin-right: 0;
	}
	}
/* ========= Mobile small (iphone se) ========= */

@media (max-width: 320px) {
.container {
	position: absolute;
	width: 100%;
	right: 0px;
	left: 0px
}
.search input[type=text] {
	width: 35%;
	position: relative;
	left: 60px;
}
.topbannerwrap {
	height: 95px;
}
#.topbtnwrap {
}
.topbtn {
	font-size: 12px;
	padding-left: 35px;
}
.tagline {
	display: none;
}
.whereami {
	display: none;
}	
.marquee {
	display: relative;
	bottom: 49px;
}
.marquee>a>img {
	height: 60px;
}
.textwrapper {
	align: center;
  	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 25px;
	
}
.linkbtn {
	display: inline-block;
	padding: 20px;
	margin-bottom: 20px;
}
.lowbannerheadtit {
	margin-bottom: 15px;
}
.subbtn {
#	margin-right: 200px;
	margin-left: 10px;
}
.backbtn {
	font-size: 75px;	
	padding-left: 3px;
	padding-right: 15px;
	margin-left: 5px;
	position: relative;
	top: 16px;
	display: none;
}
}
/* =========  ========= */

@media (min-width: 321px) and (max-width: 620px) {
.container {
	position: absolute;
	width: 100%;
	right: 0px;
	left: 0px
}
.search input[type=text] {
	width: 39%;
	position: relative;
	left: 60px;
}
.topbannerwrap {
	height: 95px;
}
#.topbtnwrap {
}
.topbtn {
	font-size: 12px;
	padding-left: 35px;
}
.tagline {
	display: none;
}
.marquee {
	display: relative;
	bottom: 49px;
}
.marquee>a>img {
	height: 60px;
}
.textwrapper {
	align: center;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 25px;
}
.linkbtn {
	display: inline-block;
	padding: 20px;
	margin-bottom: 20px;
}
.lowbannerheadtit {
	margin-bottom: 15px;
}
.subbtn {
#	margin-right: 200px;
	margin-left: 10px;
}
.backbtn {
	font-size: 75px;	
	padding-left: 3px;
	padding-right: 15px;
	margin-left: 5px;
	position: relative;
	top: 16px;
	display: none;
}
}
	
@media (min-width: 621px) and (max-width: 820px) {

.search input[type=text] {
	width: 15%;
	position: relative;
	left: 25px;
}
.topbtn {
	font-size: 18px;
	padding-left: 22px;
}
.whereami {
	font-size: 28px;
	margin-top: -60px;

		
}
.tagline {
	font-size: 18px;
	position: relative;
	left: -80px;
}
